.detalle {
    margin-top: 10px;
    background: white;
    border-radius: 4px 4px 0 0;
    padding: unset;
    display: flex;
    flex-direction: row;
    padding: 15px;
    .producto {
        width: 600px;
        .imagen {
            display: flex;
            justify-content: center;
            .img {
            }
        }
        .descripcion {
            .texto{
                text-align: justify;
            }
        }
    }
    .costo {
        width: 300px;

        .info {
            .condicion {
                margin-right: 10px;
            }
            .cantidad {
            }
            .titulo {
                font-weight: 800;
                font-size: larger;
            }
        }
        .valor {
            font-size: 38px;
        }
        .boton {
            margin-top: 10px;
            width: 100%;
            border-color: transparent;
            background-color: #3483fa;
            color: #fff;
            height: 48px;
            font-size: larger;
            font-weight: 600; 
        }
    }
}
