.lista {
    list-style-type: none;
    background: white;
    border-radius: 4px 4px 0 0;
    padding: unset;
    .item:last-child {
        border-bottom: unset;
    }
    .item {
        padding: 20px 50px 20px 0;
        border-bottom: 1px solid #ededed;
        display: flex;
        .imagen-container {
            height: 90px;
            width: 90px;
            display: flex;
            justify-content: center;

            .imagen {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .descripcion {
            .valor-container {
                display: flex;
                align-items: center;
                .valor {
                    font-size: large;
                    font-weight: 500;
                    margin-right: 10px;
                }
                .free-shipping {
                    .logo {
                        width: 30px;
                    }
                }
            }
            .sub-descripcion {
                display: flex;
                flex-direction: column;
                .linkDescripcion {
                    text-decoration: none;
                    font-size: 24px;
                    font-weight: 400;
                    color: black;
                }
                .estadoProducto {
                }
            }
        }
    }
}
