.full-content {
    background: #ededed;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .content-style {
        width: 900px;
        display: flex;
        flex-direction: column;
    }
}